#Jdev1_box {
    background-color: #CAF0F8;
    padding: 1em;
    width: 35%;
    float: left;
    border: 3px inset #0077B6;
    border-radius: 14px;
    margin-left: 3em;
}


#Jdev1_desc {
    padding: 1em;
    width: 60%;
    float: left ;
    border: 2px inset #0077B6;
    border-radius: 4px;
    margin-bottom: 2em;
}

#Jdev1_WF {
    padding: 1em;
    width: 30%;
    float: left ;
    border: 2px inset #0077B6;
    border-radius: 4px;
    margin-bottom: 2em;
    margin-left: 1em;

}

#Jdev1_sal {
    padding: 1em;
    width: 50%;
    float: right ;
    border: 2px inset #0077B6;
    border-radius: 4px;
    margin-bottom: 2em;
    margin-right: 1em;
    
}

#Jdev1_req {
    padding: 1em;
    width: 50%;
    float: right ;
    border: 2px inset #0077B6;
    border-radius: 4px;
    margin-bottom: 2em;
    margin-right: 1em;

}
section, h2 {
    align-content: center;
}
